<div class="media-content cell has-background-gray is-full">
    <div class="content">
        <p>
            <strong>@{{username}}</strong> <small>{{formatTime createdAt}}</small>
            <br />
            {{content}}
        </p>
    </div>
</div>