<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <title>Tech Blog</title>
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
        </div>
        <div class="navbar-menu is-active">
            <div class="navbar-start">
                <a class="navbar-item">
                    <h1>The Tech Blog</h1>
                </a>
            </div>

            <div class="navbar-end">
                <a class="navbar-item" href="/">
                    Home
                </a>
                <a class="navbar-item" 
                {{#if loggedIn}}
                href="/dashboard"
                {{#else}}
                href="/login"
                {{/if}}>
                    Dashboard
                </a>
                <a class="navbar-item" href="/login">
                    Login
                </a>
            </div>
        </div>
    </nav>
    {{{body}}}
</body>
</html>