<div class="media-content has-background-dark">
    <div class="content ml-1">
        <p>
            <strong>{{title}}</strong> <small>@{{username}}</small> <small>{{formatTime createdAt}}</small>
            <br />
            {{content}}
        </p>
    </div>
    <article class="media has-background-grey-dark p-4">
        {{#each comments}}
            {{> commentCard}}
        {{/each}}
    </article>
</div>
<form id="comment">
    <div class="field">
        <label class="label">Comment</label>
        <div class="control">
            <input id="content" class="input" type="text">
        </div>
    </div>

    <div class="field">
        <div class="control">
            <button class="button">Post</button>
        </div>
    </div>
</form>

<script src="/js/comment.js"></script>