<article class="media grid">
    {{#each blogposts}}
        {{> blogpostCard}}
    {{/each}}
</article>

<button class="button" id="create">New Blog</button>

<script src="/js/dashboard.js"></script>